body {
  padding-top: 55px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #030508 !important;
  color: #f9fafb !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* #25d29e green 48, 139, 123,
   #524857 purple 69, 54, 77
   rgb(209, 213, 12) yellowish-green
   rgba(35, 156, 158, 0.75) dark teal
   */

.buttons {
  /* background-color: #0032fb; */
}

.card {
  background: rgba(34, 41, 39, 0.7) !important;
  color: #f9fafb !important;
}

.navbar-dark .navbar-brand {
  color: #f9fafb !important;
}

.form-select {
  background-color: #1c1c1c !important;
  border: none !important;
  color: #f9fafb !important;
}

.form-control {
  background-color: #1c1c1c !important;
  border: none !important;
  color: #f9fafb !important;
}

.form-select-color {
  background-color: yellow !important;
}

.input-title {
  color: rgb(184, 183, 183);
  font-size: medium;
}

@media only screen and (max-width: 900px) {
  .input-title {
    font-size: small;
  }

  .reverse-cards {
    flex-direction: column-reverse !important;
  }
}

.page-overlay {
  background-color: #5414fb;
}

.header-after {
  /* background: hsl(210, 50%, 2%, 0.3) !important;
  backdrop-filter: blur(60px) !important; */
  background-color: black;
  width: 100%;
  padding: 10px;
}

.navbar .container {
  margin: 0;
  padding: 0;
}

.s-container {
  min-height: 100%;
  background: linear-gradient(grey 0 0) calc(1 * 100% / 6),
    linear-gradient(grey 0 0) calc(2 * 100% / 6),
    linear-gradient(grey 0 0) calc(3 * 100% / 6),
    linear-gradient(grey 0 0) calc(4 * 100% / 6),
    linear-gradient(grey 0 0) calc(5 * 100% / 6);
  background-size: 0.5px 100%; /* Control the width here*/
  background-repeat: no-repeat;
  transition: box-shadow 0.3s ease-in-out;
}

.s-container:hover {
  box-shadow: inset 0 0 0 15px #5414fb;
  transition: box-shadow 0.4s ease-in-out;
}
